<div class="container  sm-12 md-12 lg-10"  >
    
        <div class="row ">
            <div class="col-sm-10 mx-auto mt-5" id="options">
              <div class="container2 mx-auto mt-5 border p-3" id="options">
                <form [formGroup]="form" (ngSubmit)="getByDate()">
                  <label> Search date : </label>
                  <input class="mx-2" formControlName="searchDate" type="date"  id="searchDate" >
                  <button type="submit" class="btn btn-success mx-4 my-3" >Search</button>
                  <button type="button" (click)="getAll()" class="btn btn-success mx-4 my-3" >Search All</button>
                </form>
                </div>
               
              <!--  <div class="container2 " style="min-height: 350px;" *ngIf="list===false || list===undefined">
                  <div class="spinner-border text-danger mx-5 my-5 w-15 h-15"  role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>  
                </div>
                -->
                <div class="table-responsive">
                  <table class="table table-striped mx-auto" >
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tanque</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Cantidad(Kg)</th>
                        <th scope="col">Hora inicio preparacion</th>
                        <th scope="col">Nivel Final</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Acciones</th>
                        <th scope="button"><a class="btn btn-primary " (click)="new()" role="button">New</a></th>
                      </tr>
                    </thead>
                   
                   
                    <tbody>
                        <tr *ngFor="let product of service.lista.result">
                        <td>{{product.fecha}}</td>
                        <td>{{product.tanque}}</td>
                        <td>{{product.productoName}}</td>
                        <td>{{product.lote}}</td>
                        <td>{{product.cantidad}}</td>
                        <td>{{product.horaInicio}}</td>
                        <td>{{product.nivelFinal}}</td>
                        <td>{{product.responsable}}</td>
                        <td>{{product.comentario}}</td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-info"(click)="setDetails(product)"
                             data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Details</button>
                            <button type="button" (click)="edit(product)" class="btn btn-secondary">Edit</button>
                            <button type="button" class="btn btn-danger" (click)="setRemove(product)" 
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Delete</button>
                          </div>
                          
                          
                         
                                 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
        <button type="button" class="btn-close  ps-4" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 *ngIf="title=='Delete Record'">Are you sure delete the record?</h3>
        <p class="card-text">Id : {{service.recordupdate.id}}
          <br>Fecha : {{service.recordupdate.fecha}}
          <br>Tanque : {{service.recordupdate.tanque}}
          <br>Producto: {{service.recordupdate.productoName}}
          <br>Lote : {{service.recordupdate.lote}}
          <br>Cantidad : {{service.recordupdate.cantidad}} Kg
          <br>Hora Inicio : {{service.recordupdate.horaInicio}}
          <br>Nivel Final : {{service.recordupdate.nivelFinal}}
          <br>Responsable : {{service.recordupdate.responsable}}
          <br>Comentario :  {{service.recordupdate.comentario}}
        </p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="remove()" *ngIf="title=='Delete Record'"  class="btn btn-danger mx-3">Yes</button>
      </div>
    </div>
  </div>
</div>

                      </tr>
                    </tbody>
                  </table>

                </div>
                            </div>
   
        </div>
        
   
</div>
