<div class="container">
    <div class="container col-md-10 ">
        <div class="row mx-auto m-5">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Delete Record</div>
                <div class="card-body">
                  <h5 class="card-title">Are you sure delete the record?</h5>
                  <p class="card-text">Id : {{id}}
                    <br>Fecha : 2023
                    <br>Tanque :T360
                    <br>Producto: Termolita
                    <br>Lote : 132030050
                    <br>Cantidad : 20Kg
                    <br>Hora Inicio : 10:00
                    <br>Nivel Final : 75%
                    <br>Responsable : Jorge
                    <br>Comentario : 
                  </p>
                  <p class="card-text">
                    <button type="button" class="btn btn-danger mx-3">Yes</button>
                    <button type="button" class="btn btn-success">Go Back</button>
                  </p>

                </div>
        </div>
    </div>
</div>