<div class="container">
    <div class="container col-md-10 ">
        <div class="row mx-auto m-5">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Delete Record</div>
                <div class="card-body">
                    
                  <h5 class="card-title">Are you sure delete the record?</h5>
                  <p class="card-text">Id : {{myrecord.id}}
                    <br>Fecha : {{myrecord.fecha}}
                    <br>Tanque : {{myrecord.tanque}}
                    <br>Producto: {{myrecord.productoName}}
                    <br>Lote : {{myrecord.lote}}
                    <br>Cantidad : {{myrecord.cantidad}} Kg
                    <br>Hora Inicio : {{myrecord.horaInicio}}
                    <br>Nivel Final : {{myrecord.nivelFinal}}
                    <br>Responsable : {{myrecord.responsable}}
                    <br>Comentario :  {{myrecord.comentario}}
                  </p>
                  <p class="card-text">
                    <button type="button" class="btn btn-danger mx-3">Yes</button>
                    <button type="button" class="btn btn-success">Go Back</button>
                  </p>

                </div>
        </div>
    </div>
</div>